.Titulo1{
    color: #fff;
  }

.Contenedor-proveedor{
    background: #1c4e98;
    width: auto;
    display: flex;                 
    justify-content: space-evenly;
    padding-bottom: 50px;
  }

.Contenedorp1{
    background: #1c4e98;
    display: column; 
    align-items: center;            
}


  .botonvolver {
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
    
  }

  .Contenedor-boton-regresar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c4e98;
    height: auto;
    padding-bottom: 207px;
   
  }

  .botonprovee{
    background: #1c4e98;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0033ff;
    color: #fff;
    padding: 1px;
    height: 80px;
  }

  .Titulo-inicial{
    padding-left: 11px;
  }

  .texto1{
    color: #fff;
    padding-left: 11px;
  }

  .contenedor-texto{
    background: #1c4e98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tamaño_imagen{
    height: 120px;
  }