.label-cotainer{
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 170px;
}

.labelbienvenida-cotainer{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.label-cotainer1{
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 215px;
}