table {
    width: 80%;
    color: #000000;
    border: 1px solid #000;
  }

  .lista-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
    margin: 40px auto;
    border-radius: 10px;  
    padding-top: 10px;
    padding-bottom: 40px;  
    background-color: #1c4e98; 
  }
  
  td, th {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
  }
  
  thead tr {
    border-bottom: 2px solid black;
  }
  
  tbody tr {
    border-bottom: 2px solid black;
  }

  .boton-regresar{
    margin-top: 40px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
  }